article {
    background-color: #fff;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 20px 40px;
    line-height: 25px;
}

.link {
    text-decoration: none;
    color: #5f9ea0;
    padding: 7px;
    border: 2px solid #5f9ea0;
   font-weight: 900;
    display: flex;
    justify-content: center;

}

.list__women-description {
    text-align: justify;

}